<!DOCTYPE html>
<head>
<title>{% block title %}{% endblock %} - silverscreen</title>
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{{ url_for('static', filename= 'base.css') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
</head>
<div class="header hidden"> <!-- Duplicate header to push the content down -->
  <img class="header-logo" width="64" height="64" src="{{ url_for('static', filename= 'logo.svg') }}" >
  <span class="header-title">silverscreen</span>
  <a class="nav-button" href="/">Homepage</a>
  <a class="nav-button" href="/movies">Movies</a>
</div>
<div class="header header-sticky">
  <img class="header-logo" width="64" height="64" src="{{ url_for('static', filename= 'logo.svg') }}" >
  <span class="header-title">silverscreen</span>
  <a class="nav-button" href="/">Homepage</a>
  <a class="nav-button" href="/movies">Movies</a>
</div>
<section class="content">
  <div class="title">
    {% block header %}{% endblock %}
  </div>
  {% block content %}{% endblock %}
</section>