{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Editing {{title}}{% endblock %}</h1>
  <p><i>Movie</i></p>
{% endblock %}

{% block content %}
<form autocomplete="off" action="{{ url_for('handle_edit') }}" method="post">
  <p>Title: <input value={{title}} name="title"></p>
  <p>Release Year: <input value={{releaseyear}} type="number" name="releaseyear"></p>
  <p>Runtime: <input value={{runtime}} type="number" name="runtime"></p>
  <p>Genre: <input value={{genre}} name="genre"></p>
  <p>Age Rating: <input value={{agerating}} name="agerating"></p>
  <input type="hidden" name="id" value="{{id}}"/>
  <input type="hidden" name="action" value="edit"/>
  <p><i>Movie ID: {{id}}</i></p>
  <input type="submit" value="Save Changes">
</form>
{% endblock %}