{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Editing {{title}}{% endblock %}</h1>
  <p><i>Movie</i></p>
{% endblock %}

{% block content %}
<form autocomplete="off">
  <p>Title: <input value={{title}}></p>
  <p>Release Year: <input value={{releaseyear}} type="number"></p>
  <p>Runtime: <input value={{runtime}} type="number"></p>
  <p>Genre: <input value={{genre}}></p>
  <p>Age Rating: <input value={{agerating}}></p>
  <p><i>Movie ID: {{id}}</i></p>
  <button disabled>Save Changes</button>
</form>
{% endblock %}