{% extends 'base.html' %}

{% block head %}
  <!-- Include jquery and socketIO libraries -->
  <script src="{{url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='socket.io.min.js')}}"></script>
  <!-- Include script for this page-->
  <script src="{{url_for('static', filename='movies.js')}}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <p>Results per page:</p>
    <select id="page-size-dropdown">
      <option value=10>10 results per page</option>
      <option value=20 selected>20 results per page</option>
      <option value=50>50 results per page</option>
      <option value=100>100 results per page</option>
    </select>
    <p>Order by:</p>
    <select id="order-dropdown">
      <option value="title-asc">Title (A-Z)</option>
      <option value="title-desc">Title (Z-A)</option>
      <option value="releaseyear-desc" selected>Release Year (newest first)</option>
      <option value="releaseyear-asc">Release Year (oldest first)</option>
      <option value="runtime-asc">Runtime (shortest first)</option>
      <option value="runtime-desc">Runtime (longest first)</option>
      <option value="genre-asc">Genre (A-Z)</option>
      <option value="genre-desc">Genre (Z-A)</option>
    </select>
  </div>
  <p id="page-location"> results found, page  of </p>

  <p style="cursor:pointer"><b>
    <span class="nav-first" onclick="nav_first()">First</span>
    <span class="nav-prev" onclick="nav_prev()">Previous</span>
    <span class="nav-next" onclick="nav_next()">Next</span>
    <span class="nav-last" onclick="nav_last()">Last</span>
  </b></p>

  <table id="table">
    <tr>
      <th>Title</th>
      <th>Release Year</th>
      <th>Runtime (min)</th>
      <th>Genre</th>
      <th>Age Rating</th>
    </tr>
  </table>
  
  <p style="cursor:pointer"><b>
    <span class="nav-first" onclick="nav_first()">First</span>
    <span class="nav-prev" onclick="nav_prev()">Previous</span>
    <span class="nav-next" onclick="nav_next()">Next</span>
    <span class="nav-last" onclick="nav_last()">Last</span>
  </b></p>
{% endblock %}