{% extends 'base.html' %}

{% block head %}
  <!-- Include jquery and socketIO libraries -->
  <script src="{{url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='socket.io.min.js')}}"></script>
  <!-- Include script for this page-->
  <script src="{{url_for('static', filename='movies.js')}}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table>
    <tr>
      <th>Title</th>
      <th>Release Year</th>
      <th>Runtime (min)</th>
      <th>Genre</th>
      <th>Age Rating</th>
    </tr>
    {{ table_content|safe }}
  </table>
{% endblock %}