* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Import custom font face */
@font-face {
    font-family: "Miriam Libre";
    src: url("miriam-libre.ttf") format("truetype");
}

.header-sticky {
    position: fixed;
    top: 0;
}

.header {
    float: left;

    background-image: linear-gradient(to right, #d8d8d8, #c6c6c6);

    padding: 20px;
    padding-bottom: 10px;
    width: 100%;
    min-width: 700px;
    box-sizing: border-box;
    margin: 0px;
    height:100px;
    display: flex;

    font-family: "Miriam Libre", sans-serif;

    user-select: none;
}

.nav-button {
    display: block;
    float: left;

    color: white !important;
    background-color: #9b9b9b;
    box-shadow: 2px 2px 10px black;

    font-size: 30px;
    padding: 5px;
    padding-right: 10px;
    margin: 10px;
    width: auto;
    border: 3px solid #dcdcdc;

    border-radius: 10px;
    
    font-style: italic;
    text-decoration: none;

    transition: transform .2s ease-in-out; 
}

.nav-button:hover {
    transform: scale(1.05);
    background-color: #939393
}

.nav-button:active {
    transform: scale(1);
    background-color: #868686
}


.header-title {
    float: left;

    /* Text gradient */
    background: linear-gradient(to right, #ae919d, #9a877a,#a47ea4, #717b93);
    color: transparent;
    background-clip: text;

    font-size: 40px;
    padding: 10px;

    font-style: normal;
}

.header-logo {
    float: left;
}

.content {
    padding: 10px;
    margin-top: 100px;
}

.title {
    font-family: "Miriam Libre", sans-serif;
    font-size: 20px;
}

input, select {
    border-radius: 4px;
}

.darkmode-button {
    margin: 0px;
    margin-left: auto;
    font-size: 12px;
    font-weight: bold;
    min-width: fit-content;
    cursor: pointer;
}

.right-header-section {
    margin: 0px;
    margin-left: auto;
    text-align: right;
}

.user-indicator {
    display: block;
}

/* Dark mode general */

.dark-mode {
    background-color: #101010;
    color: white;
}

/* Dark mode link colours */
.dark-mode a:link {
    color: #63ceff;
}
  
.dark-mode a:visited {
    color: #fd14fd;
}

/* Dark mode header */
.dark-mode .header {
    background-image: linear-gradient(to right, #3a3a3a, #1a1a1a);
}

.dark-mode .nav-button {
    background-color: #555555;
    border: 3px solid #9b9b9b;
}

.dark-mode .nav-button:hover {
    background-color: #4b4b4b;
}

.dark-mode .nav-button:active {
    background-color: #3f3f3f;
}

.dark-mode input, .dark-mode select {
    background-color: #3f3f3f;
    color: white;
    border: 2px solid #646464;
}

.dark-mode .popup {
    color: black;
    background-color: lightgrey;
}