/* Fade in title text*/
@keyframes fade-in-title {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

/* Fade in subtitle text*/
@keyframes fade-in-subtitle {
    0% { opacity: 0 }
    33% { opacity: 0 }  /* Only begin fading in after some the time has passed*/
    100% { opacity: 1 }
}

/* Fade in body text*/
@keyframes fade-in-text {
    0% { opacity: 0 }
    66% { opacity: 0 }  /* Only begin fading in after some the time has passed*/
    100% { opacity: 1 }
}

html {
    background-color: black;
    height: 100%;
    width: 100%;
    background: radial-gradient(ellipse at bottom, #332040 0%, #0d0812 100%);
    overflow-y: hidden;
}

body {
    background-color: transparent !important;
}

.title-text {
    /* Fade in */
    opacity: 0;
    animation: 2s ease-out 0.1s 1 fade-in-title forwards;

    /* Text gradient */
    background: linear-gradient(to right, #ffd7e8, #ffdec8,#ffc4ff, #c4d6ff);
    color: transparent;
    background-clip: text;

    font-family: "Miriam Libre";
    font-size: 10vw;
    font-weight: normal;

    text-align: center;

    margin-top: 50px;
}

.subtitle-text {
    /* Fade in */
    animation: 2s ease-out 0s 1 fade-in-subtitle;

    color: white;

    font-family: "Miriam Libre";
    font-size: 3vw;
    font-weight: normal;

    display: block;
    text-align: center;
}

.credit-text {
    /* Fade in */
    animation: 2s ease-out 0s 1 fade-in-text;

    color: #d8d8d8;
    text-align: center;
}

.page-link {
    /* Fade in */
    animation: 2s ease-out 0s 1 fade-in-text;

    color: white !important;
    
    font-size: 24px;

    display: block;
    text-align: center;

    margin: 50px;
}

.bottom-float {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding:8px;
}