.movie-display {
    box-shadow: 2px 2px 10px black;

    width: 500px;
    margin: 10px;
    margin-left: 20px;
    font-size: 16px;
    padding: 10px;

    border: 5px solid #9b9b9b;
    border-radius: 10px;
}

.movie-title {
    color: white;
    background: linear-gradient(to right, #ae919d, #9a877a,#a47ea4, #717b93);
    box-shadow: 2px 2px 10px black;

    text-align: center;

    font-size: 24px;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
}

.movie-element {
    background-color: #d8d8d8;
    box-shadow: 1px 1px 5px grey;

    font-size: 16px;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 5px;
}

input {
    width: auto;
}

.title-input {
    padding: 2px;
    margin: -2px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.edit {
    border: 5px solid green !important;
    box-shadow: 0 0 10px green !important;
}

.delete {
    border: 5px solid red !important;
    box-shadow: 0 0 10px red !important;
}

.popup-shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0000006d
}

.popup {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    border-radius: 10px;

    margin: auto;
    padding: 50px;
    background-color: white;
}

input[type=submit] {
    padding: 10px;
    margin-left: 25px;
    font-size: 16px;
}

/* Dark mode */

.dark-mode .movie-title {
    background-image: linear-gradient(to right, #5f5056, #5e524a,#5a455a, #434957);
}

.dark-mode .movie-element {
    background-color: #484848;
    box-shadow: 2px 2px 10px black;
}

.dark-mode .movie-display {
    background-color: #2b2b2b;
    border-color: #1b1b1b;
}

.dark-mode .edit {
    border: 5px solid #00be00 !important;
    box-shadow: 0 0 10px #00be00 !important;
}