{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'movie.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Add new movie{% endblock %}</h1>
  <p><i>Add movie operation</i></p>
{% endblock %}

{% block content %}

<br>
<form autocomplete="off" action="{{ url_for('handle_edit') }}" method="post">
  <div class="movie-display edit">
    <p class="movie-title"><input class="title-input" name="title" placeholder="Title"></p>
    <p class="movie-element"><b>Release Year:</b> <input type="number" name="releaseyear" min="1800" placeholder="Release Year"></p>
    <p class="movie-element"><b>Runtime:</b> <input type="number" name="runtime" min="0" placeholder="Runtime"></p>
    <p class="movie-element"><b>Genre</b>: 
      <select name="genre">
        {{ genre_options | safe }}
      </select>
    </p>
    <p class="movie-element"><b>Age Rating</b>:
      <select name="agerating">
        {{ agerating_options | safe }}
      </select>
    </p>
    <input type="hidden" name="action" value="insert"/>
    <p style="text-align: right;"><br></p>
  </div>
  <br>
  <input type="submit" value="Save Movie">
  <br><br>
  <p>Don't want to add? <a href="/movies">Return to movies table</a></p>
</form>
{% endblock %}