{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'movie.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Editing {{title}}{% endblock %}</h1>
  <p><i>Movie</i></p>
{% endblock %}

{% block content %}
<br>
<form autocomplete="off" action="{{ url_for('handle_edit') }}" method="post">
  <div class="movie-display edit">
    <p class="movie-title"><input class="title-input" value="{{title}}" name="title"></p>
    <p class="movie-element"><b>Release Year:</b> <input value="{{releaseyear}}" type="number" name="releaseyear"></p>
    <p class="movie-element"><b>Runtime:</b> <input value="{{runtime}}" type="number" name="runtime"></p>
    <p class="movie-element"><b>Genre</b>: 
      <select value="{{genre}}" name="genre">
        {{ genre_options | safe }}
      </select>
    </p>
    <p class="movie-element"><b>Age Rating</b>:
      <select value="{{agerating}}" name="agerating">
        {{ agerating_options | safe }}
      </select>
    </p>
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="hidden" name="action" value="edit"/>
    <p style="text-align: right;"><i>Movie ID: {{id}}</i></p>
  </div>
  <br>
  <input type="submit" value="Save Changes">
  <br><br>
  <p>Don't want to edit? <a href="?id={{id}}">Return to movie view</a></p>
</form>
{% endblock %}