{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'login.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
  <p><i>Login to your account</i></p>
{% endblock %}

{% block content %}

<br>
<form autocomplete="off" action="{{ url_for('handle_login') }}" method="post">
  Username: <input placeholder="Username" name="username"><br>
  Password: <input type="password" placeholder="Password" name="password"><br><br>
  <input type="submit" text="Log in">
</form>
{% endblock %}