{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'login.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
  <p><i>Login to your account</i></p>
{% endblock %}

{% block content %}

<br>
<form autocomplete="off" action="{{ url_for('handle_login') }}" method="post">
  Username: <input placeholder="Username" name="username" required><br>
  Password: <input type="password" placeholder="Password" name="password" required><br><br>
  <input type="submit" value="Log in"><br><br>
  <p>No account? <a href="/signup">Sign up</a> instead!</p>
</form>

<!-- Popup -->
<div id="popup-shadow" class="popup-shadow" hidden{{popup_visible}}>
  <div class="popup">
    <p>{{popup_message}}</p><br>
    <p onclick="document.getElementById('popup-shadow').hidden = true; window.history.pushState('login', document.title, '/login')"
    style="text-decoration: underline; cursor: pointer; user-select: none;"
    >Close</p>
  </div>
</div>
{% endblock %}