{% extends 'base.html' %}

{% block head %}
<!-- Include jquery and socketIO libraries -->
<script src="{{url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
<script src="{{url_for('static', filename='socket.io.min.js')}}"></script>
<!-- Include script for this page-->
<script src="{{url_for('static', filename='movies.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename= 'movies.css') }}">
{% endblock %}

{% block header %}
<h1>{% block title %}Movies{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="search-box">
  <span>Search by:</span>
  <select id="search-type-selector">
    <option selected>Title</option>
    <option>Release Year</option>
    <option>Runtime</option>
    <option>Genre</option>
    <option>Age Rating</option>
  </select>
  <input placeholder="🔍 Search" id="search-box" maxlength=255>
</div>
<p id="page-location"><br></p>

<div class="table-area">
  <div class="page-size-dropdown">
    <p><i>Results per page:</i></p>
    <select id="page-size-dropdown">
      <option value=10>10 results per page</option>
      <option value=20 selected>20 results per page</option>
      <option value=50>50 results per page</option>
      <option value=100>100 results per page</option>
    </select>
  </div>
  <div class="order-dropdown">
    <p><i>Order by:</i></p>
    <select id="order-dropdown">
      <option value="title-asc">Title (A-Z)</option>
      <option value="title-desc">Title (Z-A)</option>
      <option value="releaseyear-desc" selected>Release Year (newest first)</option>
      <option value="releaseyear-asc">Release Year (oldest first)</option>
      <option value="runtime-asc">Runtime (shortest first)</option>
      <option value="runtime-desc">Runtime (longest first)</option>
      <option value="genre-asc">Genre (A-Z)</option>
      <option value="genre-desc">Genre (Z-A)</option>
    </select>
  </div>

  <div class="table-nav"><b>
    <br>
    <span class="nav-first" onclick="nav_first()">First</span>
    <span class="nav-prev" onclick="nav_prev()">Previous</span>
    <div class="page-indicator" id="top-page-indicator"></div>
    <span class="nav-next" onclick="nav_next()">Next</span>
    <span class="nav-last" onclick="nav_last()">Last</span>
    </b></div>

  <table id="table" class="movies-table">
    <tr class="movies-table-headers">
      <th class="movies-table-title">Title</th>
      <th>Release Year</th>
      <th>Runtime (min)</th>
      <th class="movies-table-genre">Genre</th>
      <th>Age Rating</th>
    </tr>
  </table>
  <p id="empty-indicator" hidden="true"><i>No results found</i></p>

  <div class="table-nav"><b>
      <span class="nav-first" onclick="nav_first()">First</span>
      <span class="nav-prev" onclick="nav_prev()">Previous</span>
      <div class="page-indicator" id="bottom-page-indicator"></div>
      <span class="nav-next" onclick="nav_next()">Next</span>
      <span class="nav-last" onclick="nav_last()">Last</span>
    </b></div>
    <div>
      <h3>Management tools</h3>
      <p><a href="add">Add a new movie</a></p>
      <i>Visit a movie page for more options</i>
    </div>
</div>

<!-- Popup -->
<div id="popup-shadow" class="popup-shadow" hidden{{popup_visible}}>
  <div class="popup">
    <p>{{popup_message}}</p><br>
    <p onclick="document.getElementById('popup-shadow').hidden = true; window.history.pushState('movies', document.title, '/movies')"
    style="text-decoration: underline; cursor: pointer; user-select: none;"
    >Close</p>
  </div>
</div>
{% endblock %}