{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'movie.css') }}">
<meta name="statistics" user_rating="{{user_rating}}" average_rating="{{rating}}" id="{{id}}">
<!-- Include jquery and socketIO libraries -->
<script src="{{url_for('static', filename='jquery-3.7.1.min.js')}}"></script>
<!-- Include script for this page-->
<script src="{{url_for('static', filename='movie.js')}}"></script>
{% endblock %}

{% block header %}
<h1>{% block title %}{{title}}{% endblock %}</h1>
<p><i>Movie</i></p>
{% endblock %}

{% block content %}
<br>
<div class="movie-display">
  <p class="movie-title">{{title}}</p>
  <div style="display: flex; align-items: center; height: 40px; font-size: 12px; padding: 0px 10px;">
    <p style="padding: 0px 4px">Favourites:</p>
    <div class="favourite-movie-button" onclick="send_favourite('{{id}}')" style="--visibility: {{favourite_visible}};" onclick=""> ({{favourite_count}})</div>
    <p style="padding: 0px 4px">Your rating:</p>
    <div class="ratings-row"><div class="user-ratings ratings-display" style="--rating: {{user_rating}}" id="rating"></div></div>
    {% if user_rating > 0 %}
    <p class="delete-rating-button" onclick="remove_rating('{{id}}')">❌</p>
    {% endif %}
    <p style="padding: 0px 4px">Average rating:</p>
    <div class="ratings-row"><div class="ratings-display" style="--rating: {{rating}}" id="average-rating"></div>
      <span style="align-self: flex-end">({{rating_count}})</span>
    </div>
  </div>
  
  <p class="movie-element"><b>Release Year:</b> {{releaseyear if releaseyear else 'Unknown'}}</p>
  <p class="movie-element"><b>Runtime:</b> {{runtime if not None else 'Unknown'}} minutes</p>
  <p class="movie-element"><b>Genre:</b> {{genre_symbol}} {{genre}}</p>
  <p class="movie-element"><b>Age Rating:</b> {{agerating}} <i>({{agerating_description}})</i></p>
  <p style="text-align: right;"><i>Movie ID: <span id="movie-id">{{id}}</span></i></p>
</div>
{% if current_user.is_authenticated and current_user.admin == 1 %}
<div id="management-tools">
  <h3>Management tools: All movies</h3>
  <p class="management-button"><a href="add">Add a new movie</a></p>
  <h3>Management tools: <i>{{title}}</i></h3>
  <br>
  <p>
    <span class="management-button"><a href="?id={{id}}&edit=true">Edit this movie</a></span>
    <span class="management-button"><a href="/delete?id={{id}}">Delete this movie</a></span>
  </p>
  <br>
</div>
<br>
<p>Finished? <a href="/movies">Return to table view</a></p>
{% endif %}

<!-- Popup -->
<div id="popup-shadow" class="popup-shadow" hidden{{popup_visible}}>
  <div class="popup">
    <p>{{popup_message}}</p><br>
    <p onclick="document.getElementById('popup-shadow').hidden = true;
    window.history.pushState('movie', document.title, '/movie?id='+document.getElementById('movie-id').innerHTML)"
    style="text-decoration: underline; cursor: pointer; user-select: none;"
    >Close</p>
  </div>
</div>
{% endblock %}