{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'login.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Sign Up{% endblock %}</h1>
  <p><i>Register a new account</i></p>
{% endblock %}

{% block content %}

<br>
<form autocomplete="off" action="{{ url_for('handle_signup') }}" method="post">
  Username: <input placeholder="Username" name="username" required minlength="3" maxlength="25"><br>
  Password: <input type="password" placeholder="Password" name="password" required minlength="12" maxlength="50" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)" title="Must contain: number, lowercase character, uppercase character, symbol.">
  <div class="password-requirements">
    <ul><b>Requirements:</b>
      <li>12 characters</li>
      <li>Lowercase character</li>
      <li>Uppercase character</li>
      <li>Special character</li>
    </ul>
  </div>
  <br>
  <input type="submit" value="Sign up"><br><br>
  <p>Got an account? <a href="/login">Log in</a> instead!</p>
</form>

<!-- Popup -->
<div id="popup-shadow" class="popup-shadow" hidden{{popup_visible}}>
  <div class="popup">
    <p>{{popup_message}}</p><br>
    <p onclick="document.getElementById('popup-shadow').hidden = true; window.history.pushState('signup', document.title, '/signup')"
    style="text-decoration: underline; cursor: pointer; user-select: none;"
    >Close</p>
  </div>
</div>
{% endblock %}