{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'login.css') }}">
{% endblock %}

{% block header %}
  <h1>{% block title %}Sign Up{% endblock %}</h1>
  <p><i>Register a new account</i></p>
{% endblock %}

{% block content %}

<br>
<form autocomplete="off" action="{{ url_for('handle_signup') }}" method="post">
  Username: <input placeholder="Username" name="username"><br>
  Password: <input type="password" placeholder="Password" name="password"><br><br>
  <input type="submit" value="Sign up"><br><br>
  <p>Got an account? <a href="/login">Log in</a> instead!</p>
</form>
{% endblock %}