* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Import custom font face */
@font-face {
    font-family: "Miriam Libre";
    src: url("miriam-libre.ttf") format("truetype");
}

.header-sticky {
    position: fixed;
    top: 0;
}

.hidden {
    opacity: 0 !important;
}

.header {
    float: left;

    background-image: linear-gradient(to right, #d8d8d8, #c6c6c6);

    padding: 20px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;

    font-family: "Miriam Libre", sans-serif;

    user-select: none;
}

.nav-button {
    display: block;
    float: left;

    color: white;
    background-color: #9b9b9b;

    font-size: 30px;
    padding: 5px;
    padding-right: 10px;
    margin: 10px;
    width: auto;

    border-radius: 10px;
    
    font-style: italic;
    text-decoration: none;

    transition: transform .2s ease-in-out; 
}

.nav-button:hover {
    transform: scale(1.05);
    background-color: #939393
}

.nav-button:active {
    transform: scale(1);
    background-color: #868686
}


.header-title {
    float: left;

    /* Text gradient */
    background: linear-gradient(to right, #ae919d, #9a877a,#a47ea4, #717b93);
    color: transparent;
    background-clip: text;

    font-size: 40px;
    padding: 10px;

    font-style: normal;
}

.header-logo {
    float: left;
}

.content {
    padding: 10px
}

.title {
    font-family: "Miriam Libre", sans-serif;
    font-size: 20px;
}